/* =========================================================
   AKNM STUDIO — LAYOUT
   ========================================================= */

.studio-layout {
  min-height: 100svh;

  background: #050505;

  color: #fff;
}


/* =========================================================
   MAIN
   ========================================================= */

.studio-layout__main {
  min-height: 100svh;

  margin-left: 250px;
}


/* =========================================================
   CONTENT
   ========================================================= */

.studio-layout__content {
  min-height:
    calc(100svh - 70px);
}


/* =========================================================
   MOBILE
   ========================================================= */

@media (max-width: 900px) {

  .studio-layout__main {
    margin-left: 0;
  }

  .studio-layout__content {
    min-height:
      calc(100svh - 64px);
  }
}